.tabledata {
    display: inline-block;
    font-size: 0;
}

.tabledata:focus {
    outline: none;
}

.tabledata span {
    display: inline;
    white-space: pre;
    font-family: "Courier New", Consolas, "PT Mono", "Liberation Mono", monospace;
    font-variant: normal;
    font-size: 15px;
    line-height: 19px;
    color: darkgray;
}

@media (hover: hover) and (pointer: fine) {
    .tabledata span:hover {
        background-color: aquamarine;
    }
}


.tabledata span:nth-child(16n)::after {
    content: "\A";
}

.tabledata span.active {
    background-color: aqua;
}

.tabledata span.filled {
    color: inherit;
}

.keygrabber {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}